/*.button{*/
.button:hover{
    -fx-text-fill: firebrick; -fx-font-size: 18pt; -fx-font-weight: bold;
}

/*.customLoginButton{*/
.button:focused{
    -fx-text-fill: silver; -fx-font-size: 18pt; -fx-font-weight: bold;
    -fx-background-color: radial-gradient(center 25% 25%,radius 50%, reflect, dodgerblue, darkblue 75%, dodgerblue);
}

/*#fancyButton{*/
.button:pressed{
    -fx-font-weight: bold; -fx-font-size: 36pt; -fx-font-family: Dialog;
    -fx-effect: dropshadow(three-pass-box,black,5,0.2,2,3);
    -fx-text-fill: linear-gradient(to left, darkviolet 15%, yellow 45%,red 75%, firebrick 85%);
    -fx-background-color: linear-gradient(darkblue 10%,#ABCDEF 65%, dodgerblue 90%);
}